.Page13Node {
  opacity: 1;
  background: deepskyblue;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  line-height: 70px;
  top:50%;
  left:50%;
  position: fixed;
  margin-top:-50px;
  margin-left:-50px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  z-index: 4;
}

.Page13Text{
  position:absolute;
  text-align: center;
  width: 100%;
  bottom: 15%;
  color: #E91E63;
  font-size: 25px;
}

.Page13NodeDes {
  top:50%;
  left:50%;
  position: fixed;
  margin-top:-50px;
  margin-left:-50px;
  dominant-baseline: middle;
  text-anchor: middle;
  fill: white;
  fill-opacity: 1;
  white-space: inherit;
  z-index: 4;
  color: #C26EFF;
}

.NodeDesContent {
  vertical-align: middle;
  text-align:center;
  line-height: 21px;
}

#Page13Node1 {
  transform: translateY(-100px);
}

#Page13NodeDes1 {
  transform: translateX(6px) translateY(-150px);
}

#Page13Node2 {
  transform: translateX(-100px) translateY(100px);
}

#Page13NodeDes2 {
  transform: translateX(-94px) translateY(180px);
}

#Page13Node3 {
  transform: translateX(100px)  translateY(100px);
}

#Page13NodeDes3 {
  transform: translateX(106px)  translateY(180px);
}

#White{
  color: white;
  font-size: 25px;
  font-weight: bold;
}

#Blue{
  color: deepskyblue;
}

#Yellow{
  color: #FF8E14;
}

#Focus{
  font-style: italic;
  font-weight: bold;
  color: white;
}
