.Page23Node {
  opacity: 1;
  background: deepskyblue;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  line-height: 70px;
  top:50%;
  left:50%;
  position: fixed;
  margin-top:-50px;
  margin-left:-50px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  z-index: 4;
}

.Page23Text{
  position:absolute;
  text-align: center;
  width: 100%;
  bottom: 15%;
  color: #E91E63;
  font-size: 25px;
}

.Page23NodeDes {
  top:50%;
  left:50%;
  position: fixed;
  margin-top:-50px;
  margin-left:-50px;
  dominant-baseline: middle;
  text-anchor: middle;
  fill: white;
  fill-opacity: 1;
  white-space: inherit;
  z-index: 4;
  color: #C26EFF;
}

.NodeDesContent {
  vertical-align: middle;
  text-align:center;
  line-height: 21px;
}

#Page23Node1 {
  transform: translateY(-100px);
}

#Page23NodeDes1 {
  transform: translateX(-12px) translateY(-170px);
}

#Page23Node2 {
  transform: translateX(-100px) translateY(100px);
  border-width: 6px;
  border-style: none;
}

#Page23NodeDes2 {
  transform: translateX(-120px) translateY(180px);
}

#Page23Node3 {
  transform: translateX(100px)  translateY(100px);
}

#Page23NodeDes3 {
  transform: translateX(84px)  translateY(180px);
}

.Page23Signal {
  border: 3px solid #FF8E14;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-50px;
  margin-left:-50px;
  opacity: 1;
}


#White{
  color: white;
  font-size: 25px;
  font-weight: bold;
}

#Blue{
  color: deepskyblue;
}

#Yellow{
  color: #FF8E23;
}

#Focus{
  font-style: italic;
  font-weight: bold;
  color: white;
}
